@import 'variables';

header {
  text-align: center;

  img {
    border-radius: 50%;
    margin: -@img-size / 2 0 @base-margin;
  }

  h1,
  h2 {
    margin-bottom: @base-margin;
    text-transform: uppercase;
  }
}
