@import 'styles/variables';

.app {
  margin: 80px auto @base-margin auto;
  padding: 0 2 * @base-padding 2 * @base-padding 2 * @base-padding;

  width: 960px;
  background-color: @white;

  hr {
    border-width: 2px;
    border-style: solid;
    border-color: @gray-border-color;
  }
}
